<div class="row">
	<h1>Create Team</h1>
</div>
<% if @team.errors.full_messages!=[] %>
	<div class="row">
		<%= @team.errors.full_messages %>
	</div>
<% end %>
<div class="body_view">

	<%= form_for @team do |form| %>
		<div class="row">
			<%= form.label :name %>
			<%= form.text_field :name %>
			<%= form.submit class: 'button' %>
		</div>
	<% end %>
</div>