<div class="row">
	<h1>Create Player</h1>
</div>
<% if @player.errors.full_messages!=[] %>
	<div class="row">
		<%= @player.errors.full_messages %>
	</div>
<% end %>
<div class="body_view">

	<%= form_for @player do |form| %>
		<div class="row">
			<%= form.label :name %>
			<%= form.text_field :name %>
			<%= form.label :position %>
			<%= form.text_field :position %>
			<%= form.label :number %>
			<%= form.text_field :number %>
			<%= form.label :birthday %>
			<%= form.text_field :birthday %>
			<%= form.submit class: 'button' %>
		</div>
	<% end %>
</div>