<h1><%= @player.name %></h1>
<h3><%= @player.position %></h3>
<h3><%= @player.number %></h3>
<h3><%= @player.birthday %></h3>
<li>
<b> <%= link_to 'Back', {:action => 'index'}%></b>
<span>  |  </span>
<b> <%= link_to 'Edit', {:action => 'edit', :id => @player.id} %></b>
<span>  |  </span>
<b> <%= link_to 'Destroy', player_path(@player), method: :delete, data: { confirm: 'Are you sure?' } %></b>
</li>