<!DOCTYPE html>
<html>
<head>
  <title>MyFavoriteTeam</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="top_banner">
    <div class="container">
      <div class="line_signin">
        <% if signed_in? %>
        <%= link_to 'Sign out', sign_out_path, method: :delete , :class => "btn_sign"%>
        <% else %>
        <%= link_to 'Sign in', sign_in_path, :class => "btn_sign"%>
        <% end %>
        <div class="name_sign">
          <% if signed_in? %>
          Hello <%= current_user.email %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <div class="banner">
    <div class="container">
      <div class="menu">
        <a href="" class="btn_menu">Home</a>
        <% if signed_in? %>
          <%= link_to 'MyTeam', new_team_path , :class => "btn_menu"%>
        <%else%>
          <%= link_to 'MyTeam', sign_in_path , :class => "btn_menu"%>
        <%end%>
        <a href="" class="btn_menu">Teams</a>
      </div>
    </div>
  </div>
<div class="views">
  <div class="container">
    <%= yield %>
  </div>
</div>
<footer class="footer">
  <div class="container">Design by Grupo 5</div>
</footer>
</body>
</html>
